extends base.pug 

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="gender", name="gender", type="text", value=loggedInUser.gender)
        input(placeholder="birthday", name="birthday", type="date", value=loggedInUser.birthday)
        input(placeholder="username", name="username", type="text", value=loggedInUser.username)
        input(type="submit", value="Update Profile")